<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>My Portfolio</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/game">Game</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Welcome to my portfolio!</p>
        <p>About Me</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pharetra in lorem at laoreet. Donec hendrerit libero eget est tempor, quis tempus arcu elementum. In elementum elit at dui tristique feugiat. Mauris convallis, mi at mattis malesuada, neque nulla volutpat dolor, hendrerit faucibus eros nibh ut nunc.<p>
        <p>Work Experience<p>
        <p>Digital Marketing Manager<p>
        <p>Education<p>
        <p>Bachelor of Design 2006 - 2008<p>
        <p>Language<p>
        <p>English<p>
    </main>
    <footer>
         <h2>Contact Information</h2>
            <p>Email: example@example.com</p>
            <p>Phone: 123-456-7890</p>
    </footer>
</body>
</html>
